C270Calibration/opencv_frame_0.png
C270Calibration/opencv_frame_1.png
C270Calibration/opencv_frame_2.png
C270Calibration/opencv_frame_3.png
C270Calibration/opencv_frame_4.png
C270Calibration/opencv_frame_5.png
C270Calibration/opencv_frame_6.png
C270Calibration/opencv_frame_7.png
C270Calibration/opencv_frame_8.png
C270Calibration/opencv_frame_9.png
C270Calibration/opencv_frame_10.png
C270Calibration/opencv_frame_11.png
C270Calibration/opencv_frame_12.png
C270Calibration/opencv_frame_13.png
C270Calibration/opencv_frame_14.png
